@require 'reset'

body
	font-family 'helvetica neue', helvetica, arial, monospace
	*
		font-family inherit

h1
	font-size 20px
	font-weight 200
	padding 10px
	margin 10px 0

div.entry
	color rgb(80,80,80)
	padding 10px
	font-weight 200
	border 1px solid rgb(215,215,215)
	margin 10px
	box-sizing border-box
	background-color rgb(245,245,245)
	// how do you show the "hand cursor" instead of the "arrow" or "vertical text cursor"?
	cursor pointer
	// how do you make is so the user CAN'T highlight the text?
	user-select none
	&:hover
		border: 1px solid darken(rgb(215,215,215), 15%)
		transition: border 2s

// Add a hover effect to the div.entry
// on hover:
	// make the background and border little darker
// add a transition for the added hover effects
